<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <localRepository>D:/data/maven</localRepository>
  <servers>
    <server>
      <id>lan</id>
      <username>admin</username>
      <password>******</password>
    </server>
    <server>
      <id>sonatype</id>
      <username>yourName</username>
      <password>******</password>
    </server>
    <server> 
      <id>bintray</id> 
      <username>yourName</username> 
      <password>******</password> 
    </server>
    <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>******</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password>******</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <!-- send all dependencies request to nexus public repository -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://192.168.0.222:8082/nexus3/repository/maven-public</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>lan</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <lan-release-url>http://192.168.0.222:8082/nexus3/repository/maven-releases</lan-release-url>
        <lan-snapshot-url>http://192.168.0.222:8082/nexus3/repository/maven-snapshots</lan-snapshot-url>

        <downloadSources>true</downloadSources>
        <downloadJavadocs>true</downloadJavadocs>
        <deploy.nexus-releases.url>http://192.168.0.222:8082/nexus3/repository/maven-releases/</deploy.nexus-releases.url>
        <deploy.nexus-snapshots.url>http://192.168.0.222:8082/nexus3/repository/maven-snapshots/</deploy.nexus-snapshots.url>
      </properties>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>